* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*replaced alot of the class selectors to element selectors to match html*/
/*added a element selector "header" on line 8 to follow htlm semantic structure*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*added a element selectors on line 79 to follow htlm semantic structure*/
h1  {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}
/*added a element selector "nav" on line 24 to follow htlm semantic structure*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/*renamed class selector to something more specific in line 45*/
.background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*added a element selector "main" on line 54 to follow htlm semantic structure*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
}
/*Lines 69-77 effect image placment in the main\sections element*/
.float-left {
    float: left;
    margin-right: 25px;
}
    
.float-right {
    float: right;
    margin-left: 25px;
}
/*added a element selectors "main" and "section" on line 80 to follow htlm semantic structure*/
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*consolidated the class selectors to effect all images under main element*/
main section img {
    max-height: 200px;
}
/*added a element selector "aside" on line 93 to follow htlm semantic structure*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside section {
    margin-bottom: 32px;
    color: #ffffff;
}
/*changed the class selectors to element selectors to effect all images under aside element*/
aside section img {
    display: block;
    margin: 10px auto; 
    max-width: 150px;
}
/*added element selector "footer" on line 120 to more match htlm semantic structure*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h4 {
    font-size: 20px;
 }